@{
    ViewData["Title"] = "Contact us";
}

<div class="text-center">
    <h1 class="display-4">Contact the developer</h1>
    <br />
</div>

<div class="text-left">
    <p>Developer contact email: <a href="mailto:wwwsssww@mail.ru">wwwsssww@mail.ru</a></p>
    <p>The project uses <a href="http://accord-framework.net/">Accord.NET Framework</a> for balance calculations via quadratic programming.</p>
</div>